<div class="container">
  <h1>Add New Project</h1>
    <div class="jumbotron">
      <%= form_with model: @project,local: true do |form| %>
        <% if @project.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                <li style="color:gray;"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.text_field :name , placeholder:'Enter Name',class:"form-control",required: true %>
        </div>
        <div class="form-group">
           <%= form.date_field :start_date , class:"form-control datepicker",required: true %>
        </div>
        <div class="form-group">
           <%= form.date_field :end_date ,class:"form-control datepicker",required: true %>
        </div>
         <div class="form-group">
           <%= form.text_field :budget , placeholder:'Enter Budget', class:"form-control",required: true  %>
        </div>
        <div class="form-group">
           <%= form.select(:pm, Employee.providePM ,{include_blank: 'Select Project manager'},{ class:"form-control",required: 'true'} )%>
        </div>
       <div class="form-group">
           <%= form.select(:client_id,Client::LIST,{include_blank: 'Select Client'},{class:"form-control",required: 'true'})%>
        </div>
        <div class="form-group">
          <%= form.select(:technology_id,Technology::LIST,{include_blank: 'Select Technology'},{class:"form-control",required: 'true'})%>
        </div>
        <div class="form-group">
          <%#= form.select :employee, Employee::LIST,{include_blank: false},{ :multiple =>true, :size => 4, class:"multiselect-ui form-control", id:"multi-select-demo"}%>
          <%= form.select :employee, Employee::LIST, {:include_hidden => false}, :multiple => true,required: 'true' %>
        </div>
        <%= form.submit 'Submit' ,class:"btn btn-primary btn-md"%>
        <%= link_to 'Back', employees_path, class:"btn btn-primary btn-md"%>
      <% end %>
      
    </div>
</div>
